@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";

}
<div class="container" >
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-5 col-md-7 col-sm-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h2>Truy cập bị từ chối</h2>
                        <p>Bạn không có quyền truy cập vào khu vực quản trị.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

